.total-price{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}

.cart-title{
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-transform: uppercase;
    color: #1D1F22;
    margin-top: 50px;
    margin-bottom: 50px;
}

.cart-page-items .brand{
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 27px;
    color: #1D1F22;
    margin-bottom: 16px;
}

.cart-page-items .name{
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 27px;
    color: #1D1F22;
}

.cart-page-items {
    width: 100%;
}

.cart-page-items .divider {
    width: 100%;
    height: 1px;
    background: #E5E5E5;
}

.cart-page-items .title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #1D1F22;
}

.cart-page-items span{
    display: block;
}

.cart-page-items .single {
    
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding-bottom: 30px;
        padding-top: 30px;
        gap: 10px;
    
}

.cart-page-items .attributes {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
}

.cart-page-items .price {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #1D1F22;

}

.cart-page-items .attribute {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cart-page-items span.attribute-name {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #1D1F22;
    text-transform: uppercase;
    padding-top: 10px;
}

.cart-page-items .attribute-options {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 8px;
}

span.attribute-option.text.selected {
    border-style: solid;
    border-width: 1px;
    border-color: #1D1F22;;
    background-color: #1D1F22;;
    color: #fff;
}

span.attribute-option.swatch.selected {
    border-color: #5ECE7B;
}

.cart-page-items .attribute-option {
    width: 24px;
    height: 24px;
}

.cart-page-items .text {
    border-style: solid;
    border-width: 1px;
    text-align: center;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    width: fit-content;
    block-size: fit-content;
    min-width: 25px;
    min-height: 35px;
    padding-right:10px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.cart-page-items .swatch {
    width: 18px;
    height: 18px;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff00;
    padding: 1px;
    background-clip: content-box, padding-box;
}

.cart-page-items span.attribute-number {
    text-align: right;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
}

.cart-page-items span.plus-minus {
    border-style: solid;
    border-width: 1px;
    text-align: center;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-left: 0px;
    padding-right: 0px;
}

.summary {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #1D1F22;
    gap: 8px;
    margin-bottom: 15px;
}

.summary .labels{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.summary .values{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.order{
        height: 45px;
        width: 280px;
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #5ECE7B;
        color: #fff;
}

.gallery-arrow-icon{
    width: 24px;
    height: 24px;
}

.gallery .gallery-arrows {
    display: flex;
    flex-direction: row;
    gap: 8px;
    position: absolute;
    opacity: 85%;
    bottom: 16px;
    right: 16px;
}

.gallery .item-image-wrapper{
    position: relative;
}

.cart-page-items .quantity {
    display: flex;
    width: 37px;
    flex-direction: column;
    justify-content: space-between;
}

.cart-page-items .gallery{
    max-width: 200px;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-page-items .item-image{
    width: 100%;
    height: 100%;
    object-fit: contain; 
}

.cart-page-items .item-image:hover {
    object-fit:none;
  }

.minicart-buttons {
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-top: 30px;
}

.minicart-buttons div {
    text-align: center;
    font-style: normal;
    height: 40px;
    width: 50%;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-bag {
    border-style: solid;
    border-width: 1px;
}

.checkout {
    border-style: solid;
    border-width: 1px;
    border-color: #5ECE7B;
    background: #5ECE7B;
    color: #fff;
}

span.bold {
    font-weight: 700;
}
  
  