.cart-container .total-price{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}

.cart-container .cart-title{
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-transform: uppercase;
    color: #1D1F22;
    margin-top: 50px;
    margin-bottom: 50px;
}

.cart-container .cart-page-items {
    width: 100%;
}

.cart-container .cart-page-items .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #1D1F22;
}

.cart-container .price-summary {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #1D1F22;
    gap: 8px;
    margin-bottom: 15px;
}

.cart-container .text {
    font-size: 16px;
}

.cart-container .price-summary .labels{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cart-container .price-summary .values{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

  .cart-container .minicart-buttons {
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-top: 30px;
}

.cart-container .minicart-buttons div {
    height: 40px;
    width: 50%;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-container .divider {
    width: 100%;
    height: 1px;
    background: #E5E5E5;
}

.cart-container .view-bag {
    border-style: solid;
    border-width: 1px;
}

.cart-container .checkout {
    border-style: solid;
    border-width: 1px;
    border-color: #5ECE7B;
    background: #5ECE7B;
    color: #fff;
}

.cart-container {
    animation: fadeIn 0.5s;
    -webkit-animation: fadeIn 0.5s;
    -moz-animation: fadeIn 0.5s;
    -o-animation: fadeIn 0.5s;
    -ms-animation: fadeIn 0.5s;
}