@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.minicart-main ::-webkit-scrollbar {
    width: 5px;
  }
  
.minicart-main ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
.minicart-main ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
.minicart-main ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.selected {
    color: #5ECE7B;
    border-bottom: solid;
    border-bottom-color: #5ECE7B;
    border-bottom-width: medium;
}

a {
    text-decoration: none;
    color: #5ECE7B;
}

header{
    position: relative;
    height: 80px;
    margin-left: 9%; 
    margin-right: 9%;
}

.actions{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    height: 40px;
    gap: 20px;
}

.currency {
    font-size: 18px;
    font-weight: 500;
	position: relative;
    width: 40px;
    border-style: solid;
    border-width: 8px;
    border-color: #fff0;
}

.tooltip-text {
    visibility: hidden;
    bottom: 140%;
    font-size: 12px;
    background-color: #4848488f;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}

.currency-tooltip{
    left: -37px;
    width: 110px;
}
 
.cart-tooltip{
    left: -27px;
    width: 70px;
}

.currency:hover .tooltip-text {
    visibility: visible;
    animation: fadeIn 0.5s;
    -webkit-animation: fadeIn 0.5s;
    -moz-animation: fadeIn 0.5s;
    -o-animation: fadeIn 0.5s;
    -ms-animation: fadeIn 0.5s;
}
 
.box{
    height: auto;
    overflow: hidden;
    background: #fff;
    position: absolute;
    z-index: 99;
    animation: fadeIn 0.5s;
    -webkit-animation: fadeIn 0.5s;
    -moz-animation: fadeIn 0.5s;
    -o-animation: fadeIn 0.5s;
    -ms-animation: fadeIn 0.5s;
    filter: drop-shadow(0px 4px 35px rgba(168, 172, 176, 0.19));
}

.currency-box {
    width: 120px;
    left: -9px;
    top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.cart-box{
    width: 335px;
    height: 677px;
    left: -310px;
    top: 44px;
    padding: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.box li {
	display: block;
	width: 100%;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.box li:hover{
	background: #eee;
}

.first-currency{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
}

.currency-arrow-icon {
    width: 10px;
}

.cart:hover .tooltip-text {
    visibility: visible;
    animation: fadeIn 0.5s;
    -webkit-animation: fadeIn 0.5s;
    -moz-animation: fadeIn 0.5s;
    -o-animation: fadeIn 0.5s;
    -ms-animation: fadeIn 0.5s;
}

.cart{
    width: 20px;
    position: relative;
}

.small-cart-icon{
    width: 100%;
}

.minicart-main .title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #1D1F22;
}

.minicart-main .items {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    gap: 6px;
    padding-right: 15px;
    max-height: 600px;
    overflow: scroll;
    overflow-x: hidden;
}

.minicart-main .items .single {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    padding-bottom:10px;
    justify-content: space-between;
    width: 100%;
}

.minicart-main .attributes {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
}

.minicart-main .brand-name {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
}

.minicart-main .price {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
}

.minicart-main .attribute {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.minicart-main span.attribute-name {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.minicart-main .attribute-options {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 8px;
}

.minicart-main .attribute-option {
    width: 24px;
    height: 24px;
}

.minicart-main .text {
    border-style: solid;
    border-width: 1px;
    text-align: center;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    width: fit-content;
    min-width: 24px;
    block-size: fit-content;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.minicart-main .swatch {
    width: 18px;
    height: 18px;
}

.minicart-main span.attribute-number {
    text-align: right;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
}

.minicart-main span.plus-minus {
    font-size: 16px;
    line-height: 150%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.minicart-main .quantity {
    display: flex;
    width: 25px;
    flex-direction: column;
    justify-content: space-between;
}

.minicart-main .gallery{
    width: 121px;
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.minicart-main .item-image{
    width: 100%;
    height: 100%;
    object-fit: contain; 
}

.display-none{
    display: none;
}

.display-flex {
	display: flex;
    flex-direction: column;
}

.display-block {
	display: block;
}

span.bold {
    font-weight: 700;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
}

.logo-icon{
    width: 41px;
    height: 41px;
}

.categories{
    display: flex;
}

.category-label{
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 30px;
    color: #000;
}