@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

nav{
    position: relative;
    height: 80px;
}

.actions{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    height: 40px;
    gap: 20px;
}

.currency {
    font-size: 18px;
    font-weight: 500;
	position: relative;
    width: 40px;
    border-style: solid;
    border-width: 8px;
    border-color: #fff0;
}

.tooltip-text {
    visibility: hidden;
    bottom: 140%;
    font-size: 12px;
    background-color: #4848488f;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}

.currency-tooltip{
    left: -37px;
    width: 110px;
}
 
.cart-tooltip{
    left: -27px;
    width: 70px;
}

.currency:hover .tooltip-text {
    visibility: visible;
    animation: fadeIn 0.5s;
    -webkit-animation: fadeIn 0.5s;
    -moz-animation: fadeIn 0.5s;
    -o-animation: fadeIn 0.5s;
    -ms-animation: fadeIn 0.5s;
}
 
.box{
    padding-bottom: 10px;
    padding-top: 10px;
    height: auto;
    overflow: hidden;
    width: 110px;
    left: -9px;
    top: 30px;
    background: #fff;
    position: absolute;
    z-index: 99;
    padding-top: 10px;
    padding-bottom: 10px;
    animation: fadeIn 0.5s;
    -webkit-animation: fadeIn 0.5s;
    -moz-animation: fadeIn 0.5s;
    -o-animation: fadeIn 0.5s;
    -ms-animation: fadeIn 0.5s;
    filter: drop-shadow(0px 4px 35px rgba(168, 172, 176, 0.19));
}

.box li {
	display: block;
	width: 100%;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.box li:hover{
	background: #eee;
}

.first-currency{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
}

.currency-arrow-icon {
    width: 10px;
}

.cart:hover .tooltip-text {
    visibility: visible;
    animation: fadeIn 0.5s;
    -webkit-animation: fadeIn 0.5s;
    -moz-animation: fadeIn 0.5s;
    -o-animation: fadeIn 0.5s;
    -ms-animation: fadeIn 0.5s;
}

.cart{
    width: 20px;
    position: relative;
}

.small-cart-icon{
    width: 100%;
}

.display-none{
    display: none;
}

.display-block {
	display: block
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
}

.logo-icon{
    width: 41px;
    height: 41px;
}

.categories{
    display: flex;
}

.category-label{
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 30px;
    color: #000;
}

.selected {
    color: #5ECE7B;
    border-bottom: solid;
    border-bottom-color: #5ECE7B;
    border-bottom-width: medium;
}

a {
    text-decoration: none;
    color: #5ECE7B;
}