@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

* {
  font-family: 'Raleway';
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

a{
  text-decoration: none;
}

.App {
  display: flex;
  flex-direction: column;
}

main {
  margin-left: 9%; 
  margin-right: 9%;
  margin-top: 30px;  
  margin-bottom: 60px;
  animation: fadeIn 0.5s;
  -webkit-animation: fadeIn 0.5s;
  -moz-animation: fadeIn 0.5s;
  -o-animation: fadeIn 0.5s;
  -ms-animation: fadeIn 0.5s;
}

main #overlay {
  position: fixed;
  display: block;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0 0 0 / 30%);
  z-index: 2;
  cursor: pointer;
  animation: fadeIn 0.5s;
  -webkit-animation: fadeIn 0.5s;
  -moz-animation: fadeIn 0.5s;
  -o-animation: fadeIn 0.5s;
  -ms-animation: fadeIn 0.5s;
}

.display-none{
  display: none;
}

.display-flex {
  display: flex;
  flex-direction: column;
}

.display-block {
  display: block;
}

span.bold {
  font-weight: 700;
}

li {
  list-style: none;
}

.attributes {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
}

.price {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #1D1F22;
}

.message .cart-icon{
  width: 20px;
  margin-right: 10px;
}

span.bold {
  font-weight: 700;
}

.attribute {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.attribute span.attribute-name {
  font-family: 'Roboto Condensed';
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  padding-top: 10px;
}

.attribute .attribute-options {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 8px;
}

span.attribute-option.text.selected {
  border-style: solid;
  border-width: 1px;
  border-color: #1D1F22;;
  background-color: #1D1F22;;
  color: #fff;
}

.attribute span.attribute-option.swatch.selected {
  border-color: #5ECE7B;
}

.attribute .attribute-option {
  width: 24px;
  height: 24px;
}

.attribute .text {
  min-width: 64px;
  min-height: 45px;
  border-style: solid;
  border-width: 1px;
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: fit-content;
}

.attribute .swatch {
  width: 32px;
  height: 32px;
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff00;
  padding: 1px;
  background-clip: content-box, padding-box;
}

span.attribute-number {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}

.wide-green-button{
  height: 45px;
  width: 280px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #5ECE7B;
  color: #fff;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.brand{
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
  color: #1D1F22;
  margin-bottom: 16px;
}

.name{
  font-weight: 400;
  font-size: 30px;
  line-height: 27px;
  color: #1D1F22;
}

.brand-name span{
  display: block;
}

.price span{
  display: block;
}

.summary{
  display: flex;
  flex-direction: column;
}

.notification .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  padding: 0 10px 10px;
  z-index: 1;
  box-sizing: border-box;
  height: auto;
  top: 0px;
  bottom: auto;
  left: auto;
  right: 0px;
  top: auto;
  bottom: 0px;
  left: 0px;
}

.notification .message {
  position: relative;
  font-size: 16px;
  margin: 0 0 0;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-sizing: border-box;
  display: inline-block;
  opacity: 1;
  margin: 10px 0 0;
  transition: 0.3s ease-in-out;
  transform: translate3d(0px, 0px, 0px);
  will-change: transform, opacity;
  background: #93ffaf;
  color: #000000;
  animation: fadeIn 0.5s;
  -webkit-animation: fadeIn 0.5s;
  -moz-animation: fadeIn 0.5s;
  -o-animation: fadeIn 0.5s;
  -ms-animation: fadeIn 0.5s;
}